*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.user-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.user-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rosybrown;
  padding: 25px;
}
.first-name {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}
.last-name{
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: rebeccapurple;
}
